extends default

block content
  
  main.main         
        ol.breadcrumb
          li.breadcrumb-item Home
          li.breadcrumb-item
            a(href='#') Admin
          li.breadcrumb-item.active Dashboard