extends layout

block content
  h1= title
  p Welcome to #{title}
 if (user)
    p You are currently logged in as #{user.username}
  else
    p You are currently not logged in. Plaese login or register...

