extends layout

block content  
  if (user)
    h1= title
    p Welcome to #{title}
    p You are currently logged in as #{user.username}
  else
    p You are currently not logged in. Plaese login or register...

